{% load static %}
<html>
    <head>
        <title>cricket team</title>
        <link href="{% static 'css/c1.css' %}" rel="stylesheet">
    

    </head>

<body>
    <div><a href="{% url 'home' %}">Home</a>
		<a href="{% url 'virat' %}">Virat Kohli</a>
		<a href="{% url 'sachin' %}">Sachin</a>
		<a href="{% url 'rohit' %}">Rohit Sharma</a>
	</div>

    <h1> WELCOME TO Mr.DHONI</h1>

   
    <img src="{% static 'images/dhoni1.jpeg' %}" alt="msdimage">
    <img src="{% static 'images/dhoni2.jpeg' %}" alt="msdimage">
    
    <img src="{% static 'images/dhoni3.jpeg' %}" alt="msdimage">
    
    <img src="{% static 'images/dhoni4.jpeg' %}" alt="msdimage">
    





    <h2>Mahendra Singh Dhoni, commonly known as MS Dhoni and Mahi, is an Indian cricketer player and was a former captain of the Indian cricket team.Dhoni is a right-handed batsman.

        The Indian cricket team won the 2011 Cricket World Cup under his captainship. His Test cricket and One Day International records are the best of all Indian captains to date. He took over the ODI
         captaincy from Rahul Dravid in 2007 and led the team to its first ever inter-country ODI series wins in Sri Lanka and New Zealand. Dhoni also holds the post of Vice-President of India Cements Ltd. after resigning from Air India. 
         India Cements is the owner of the Indian Premier League team Chennai Super Kings, and Dhoni has been its captain since the first edition of IPL.
        
        Dhoni was given many awards, such as the ICC ODI Player of the Year award in 2008 and 2009 (the first Indian player to achieve this), the Rajiv Gandhi Khel Ratna award in 2007 and the Padma Shri, India's fourth-highest civilian honour, in 2009.
        
        On 6 February 2015, Dhoni's daughter was born. He retired from international cricket in 2020.</h2>

    



</body>
</html>