{% load static %}
<html>
    <head>
        <title>cricket team</title>
        <link href="{% static 'css/c5.css' %}" rel="stylesheet">
    

    </head>

<body>
    <div><a href="#a">Home</a>
        <a href="{% url 'virat' %}">Dhoni</a>
		<a href="{% url 'virat' %}">Dhoni</a>
		<a href="{% url 'sachin' %}">Sachin</a>
		<a href="{% url 'rohit' %}">Rohit Sharma</a>
	</div>

   
    <img src="{% static 'images/dhoni1.jpeg' %}" alt="msdimage">
    <
    <img src="{% static 'images/virat1.jpeg' %}" alt="viratimage">
   
    
    <img src="{% static 'images/rohit1.jpeg' %}" alt="rohitimage">

    
    <img src="{% static 'images/sachin1.jpeg' %}" alt="sachinimage">
   

</body>
</html>
    



