{% load static %}
<html>
    <head>
        <title>cricket team</title>
        <link href="{% static 'css/c3.css' %}" rel="stylesheet">
    

    </head>

<body>
    <div><a href="{% url 'home' %}">Home</a>
		<a href="{% url 'dhoni' %}">MS Dhoni</a>
		<a href="{% url 'virat' %}">Virat Kohli</a>
		<a href="{% url 'sachin' %}">Sachin</a>
	</div>

    <h1>WELCOME TO Mr.ROHIT</h1>


    <img src="{% static 'images/rohit1.jpeg' %}" alt="rohitimage">
    <img src="{% static 'images/rohit2.jpeg' %}" alt="rohitimage">
    
    <img src="{% static 'images/rohit3.jpeg' %}" alt="rohitimage">
    
    <img src="{% static 'images/rohit4.jpeg' %}" alt="rohitimage">


    <h1>Popularly known as the Hitman for his hard hitting skills, Rohit Sharma is a gifted batsman 
        and an immensely talented cricketer who is pleasing on the eye with his elegance and ability to time the ball.
         Each time Rohit Sharma walks out to bat, the word “talent” features more often than not amongst his fans and the
          cricketing circles. Rohit Sharma got off to a good start in his international career with crucial contributions in 
          the T20 World Cup in 2007 and the CB Series in Australia. He almost made his Test debut in 2010 against South Africa 
          but he injured himself on the morning of the Test match; Rohit would then have to wait for three more years to finally
           represent India in whites.
    </h1>



</body>
</html>
    
