{% load static %}
<html>
    <head>
        <title>cricket team</title>
        <link href="{% static 'css/c2.css' %}" rel="stylesheet">
    

    </head>

<body>
    <div><a href="{% url 'home' %}">Home</a>
		<a href="{% url 'dhoni' %}">MS Dhoni</a>
		<a href="{% url 'sachin' %}">Sachin</a>
		<a href="{% url 'rohit' %}">Rohit Sharma</a>
	</div>

    <h1>WELCOME TO Mr.VIRAT</h1>

    <img src="{% static 'images/virat1.jpeg' %}" alt="viratimage">
    <img src="{% static 'images/virat2.jpeg' %}" alt="viratimage">
    
    <img src="{% static 'images/virat3.jpeg' %}" alt="viratimage">
    
    <img src="{% static 'images/virat4.jpeg' %}" alt="viratimage">
    





    <h2>irat Kohli first came into the limelight in 2008, when he led the Indian U-19 cricket team to victory in 2008 U-19 Cricket 
        World Cup He soon made his debut for the Indian team in August 2008. during a ODI match against in Sri Lanka. Virat also became one of 
        the valuable Indian captain in Test cricket with 27 test wins, 12 overseas test wins and highest winning percentage as captain in both Tests
         and ODIs. Kohli was ranked eighth in ESPN's list of world's most famous sportspeople in 2016.  Virat is the only current player to have a
          stand named after him in Delhi Firoz Shah Kotla stadium to honour his immaculate contributions to Indian cricket.

        He started dating Bollywood actress Anushka Sharma in 2013. They got married on 11 December 2017 in Florence, Italy. The couple had their 
        first child, a daughter in January 2021.</h2>

    



</body>
</html>